:root {
    --border: rgb(3, 169, 244);
    
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --g3: rgb(253, 216, 53);
}

body {
    background-color: rgb(10, 10, 10);
    display: grid;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    place-items: center;
}

bod